---
title: James Keats - Game Programmer
layout: default
picture: "/assets/img/about/me.jpg"
---
<div class="elementTextWrapper">
    <h1>About Me</h1>
</div>
<div class="contentBlock">
    <div class="columns">
        {% include image-left-mobile-bottom.html image=page.picture part="top" %}

        <div class="col-6 col-s-12">
            {% for block in site.data.about.about %}
            <div class="elementTextWrapper">
                <p>{{ block }}</p>
            </div>
            {% endfor %}
        </div>

        <div style="text-align:center">
            {% include image-left-mobile-bottom.html image=page.picture part="bottom" style="width:100%;max-width:350px;" %}
        </div>
    </div>
</div>