<div class="w-full {{include.colbp}}:w-3/12 float-left static {{include.colbp}}:sticky top-0 clear-both py-4 pr-4 text-center {{include.colbp}}:text-left ">
    <div class="mb-4 text-left {{include.colbp}}:text-justify">
        <div class="flex items-center flex-wrap">
            <div class="w-1/2 {{include.colbp}}:w-full">
                <img class="mb-4 w-6/12 md:w-4/12 lg:w-6/12 mx-auto rounded-full border-orange-800 border-4 border-double" src="https://avatars2.githubusercontent.com/u/11837693">
            </div>
            <div class="w-1/2 {{include.colbp}}:w-full">
                <span class="mb-4">Associate Software Engineer at Vicarious Visions with </span>
                <span id="timesince2017">{{ site.time | date: '%Y' | minus: 2017 }}</span>
                <span> years of professional C++ experience. Game Programming alum of Champlain College. Lover of music. Frequenter of open mic nights. Occasional thespian. Theoretically able to speak French.</span>
            </div>
        </div>
        <div class="clear-both"></div>
    </div>
    {% if site.data.mainlinks.links %}
    <div class="mb-0">
        <div class="flex flex-wrap items-center content-center justify-center">
            {% for l in site.data.mainlinks.links %}
            <div class="w-auto {{include.colbp}}:w-full mx-2 md:mx-4 {{include.colbp}}:mx-0 mb-4">
                <a href="{{l.target}}">
                    <div class="rounded-md text-white bg-gray-800 hover:bg-gray-600 p-2 font-head text-lg">
                        <i class="{{l.icon}} mx-2"></i>
                        <span class="hidden {{include.colbp}}:inline">{{ l.title }}</span>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>

<script type="text/javascript">
    // I am lazy and I don't want to remember to update my website
    var tgtSpan = document.getElementById("timesince2017");
    tgtSpan.innerHTML = (new Date()).getFullYear() - 2017;
</script>
