<div>
    <div style="text-align: center">
            <iframe class="h-md sm:h-lg md:h-3xl lh:h-4xl" allowfullscreen="true" width="100%" frameborder="0"
            {% if include.loop == 1 %}
            src="https://player.vimeo.com/video/{{include.url}}?loop=1&amp;color=ff9933&amp;byline=1&amp;portrait=0"
            {% else %}
            src="https://player.vimeo.com/video/{{include.url}}?loop=0&amp;color=ff9933&amp;byline=1&amp;portrait=0"
            {% endif %}
            >
        </iframe>
    </div>
</div>
