<footer class="bg-gray-100 clearfix">
    <div class="container mx-auto my-2 py-6 text-center">
        <ul>
            <li class="inline text-sm px-4 text-orange-600 hover:text-orange-500"><a alt="Allie Keats - Portfolio" href="/index.html" title="Allie Keats - Portfolio">Portfolio</a></li>
            <li class="inline text-sm px-4 text-orange-600 hover:text-orange-500 border-r-2 border-l-2 border-gray-600 "><a alt="Allie Keats - Resume" href="/resume.html" title="Allie Keats - Resume">Resume</a></li>
            <li class="inline text-sm px-4 text-orange-600 hover:text-orange-500"><a alt="Allie Keats - LinkedIn" href="https://www.linkedin.com/in/alliekeats/" title="Allie Keats - LinkedIn">LinkedIn</a></li>
        </ul>
    </div>
</footer>
