<div class="footerContainer">
    <div class="mainContentWidth">
        <div class="elementTextWrapper">
            <p align=center class="footerText">
                <a alt="James Keats - Portfolio" href="/index.html" title="James Keats - Portfolio">Portfolio</a>
                &nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;
                <a alt="James Keats - Resume" href="/resume.html" title="James Keats - Resume">Resume</a>
                &nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;
                <a alt="James Keats - LinkedIn" href="https://www.linkedin.com/in/jamesjkeats/" title="James Keats - LinkedIn">LinkedIn</a>
            </p>
        </div>
    </div>
</div>
