<div>
    <div class="columns" style="padding-bottom: 1.25em;">
        <div class="col-6 col-s-12">

            <!-- Portfolio image -->
            <div class="columnContent">
                <a href={{ include.data.link }}>
                    <img src={{ include.data.img }} width="100%">
                </a>
            </div>

        </div>
        <div class="col-6 col-s-12">
            <div class="columnContent">

                <!-- Title + year -->
                <div class="elementTextWrapper">
                    <h2>
                        <a href={{ include.data.link }}>{{ include.data.title }}</a>
                    </h2>
                    <h5>{{ include.data.year }}</h5>
                </div>

                <!-- Blurb -->
                <div class="elementTextWrapper">
                    <p class="justifyBlock">{{include.data.blurb}}</p>
                </div>

                <!-- Focuses list -->
                {% if include.data.focuses.size > 0 %}
                <div class="elementTextWrapper">
                    <p class="justifyBlock">My focuses included:</p>
                    <ul>
                        {% for bullet in include.data.focuses %}
                        <li>{{ bullet }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>