$body-color: #5b4b4b;
$dark-header: #5b5b5b;
$splash-dark: #df7046;
$splash-highlight: #fd7f34;
$font-head: 'Roboto Condensed', 'Trebuchet MS', Arial, Helvetica, sans-serif;
$font-head-lite: 'Roboto', 'Trebuchet MS', Arial, Helvetica, sans-serif;
$font-bod: Crimson Text;
