@import "constants.scss";

$col-padding: 7px;
$col-count: 12;
$col-percent: 100% / 12;

* {
  box-sizing: border-box;
}

/* For mobile phones: (from w3schools) */
[class*="col-"] {
  float: left;
  padding: 0 $col-padding;
  width: 100%;
}

.row::after {
  content: "";
  clear: both;
}

.float-left-always {
  float: left;
}

.float-right-always {
  float: right;
}

.resume-container {
  height: 400px;
}

.video-container {
  height: 200px;
}

.youtube-container {
  height: 150px;
}

.mobile-hide {
  display: none;
}

/* This magic class courtesy of: https://www.ostraining.com/blog/coding/responsive-videos/ */
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-0 {
    width: 0px;
    padding: 0;
  }
  .col-s-1 {
    width: $col-percent * 1;
    padding: 0 $col-padding;
  }
  .col-s-2 {
    width: $col-percent * 2;
    padding: 0 $col-padding;
  }
  .col-s-3 {
    width: $col-percent * 3;
    padding: 0 $col-padding;
  }
  .col-s-4 {
    width: $col-percent * 4;
    padding: 0 $col-padding;
  }
  .col-s-5 {
    width: $col-percent * 5;
    padding: 0 $col-padding;
  }
  .col-s-6 {
    width: $col-percent * 6;
    padding: 0 $col-padding;
  }
  .col-s-7 {
    width: $col-percent * 7;
    padding: 0 $col-padding;
  }
  .col-s-8 {
    width: $col-percent * 8;
    padding: 0 $col-padding;
  }
  .col-s-9 {
    width: $col-percent * 9;
    padding: 0 $col-padding;
  }
  .col-s-10 {
    width: $col-percent * 10;
    padding: 0 $col-padding;
  }
  .col-s-11 {
    width: $col-percent * 11;
    padding: 0 $col-padding;
  }
  .col-s-12 {
    width: $col-percent * 12;
    padding: 0 $col-padding;
  }
  .float-left-s {
    float: left;
  }
  .float-right-s {
    float: right;
  }
  .resume-container {
    height: 800px;
  }
  .video-container {
    height: 300px;
  }
  .youtube-container {
    height: 200px;
  }
  .mobile-hide {
    display: inline;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-0 {
    width: 0px;
    padding: 0;
  }
  .col-1 {
    width: $col-percent * 1;
    padding: 0 $col-padding;
  }
  .col-2 {
    width: $col-percent * 2;
    padding: 0 $col-padding;
  }
  .col-3 {
    width: $col-percent * 3;
    padding: 0 $col-padding;
  }
  .col-4 {
    width: $col-percent * 4;
    padding: 0 $col-padding;
  }
  .col-5 {
    width: $col-percent * 5;
    padding: 0 $col-padding;
  }
  .col-6 {
    width: $col-percent * 6;
    padding: 0 $col-padding;
  }
  .col-7 {
    width: $col-percent * 7;
    padding: 0 $col-padding;
  }
  .col-8 {
    width: $col-percent * 8;
    padding: 0 $col-padding;
  }
  .col-9 {
    width: $col-percent * 9;
    padding: 0 $col-padding;
  }
  .col-10 {
    width: $col-percent * 10;
    padding: 0 $col-padding;
  }
  .col-11 {
    width: $col-percent * 11;
    padding: 0 $col-padding;
  }
  .col-12 {
    width: $col-percent * 12;
    padding: 0 $col-padding;
  }
  .float-left-lg {
    float: left;
  }
  .float-right-lg {
    float: right;
  }
  .resume-container {
    height: 1100px;
  }
  .video-container {
    height: 400px;
  }
  .youtube-container {
    height: 300px;
  }
  .mobile-hide {
    display: inline;
  }
}

.mainContentWidth {
  max-width: 1000px;
  margin: 0px auto;
}

.mainContentArea {
  overflow: hidden;
  min-height: 400px;
  height: auto !important;
  padding: 20px 25px;
}

.headerContainer {
  padding: 0 15px 15px;
  background: #ffffff;
  border-bottom: 1px solid #eaeaea;
  box-shadow: 0 1px 0 0 #f8f8f8;
  margin-bottom: 25px;
  margin-top: 25px;
  overflow: hidden;
}

.footerContainer {
  padding: 30px 0;
  background-color: #f9f9f9;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #f6f6f6;
  min-height: 75px;
  height: auto !important;
}

.navigationContainer {
  margin-top: 10px;
}

.elementTextWrapper {
  word-wrap: break-word;
  margin-bottom: 1.5em;
  overflow: hidden;
}

.contentBlock {
  overflow: hidden;
  padding-bottom: 0 !important;
  word-wrap: break-word;
}

.columns {
  margin: 0 $col-padding * -1;
  overflow: hidden;
}
