@import "constants.scss";
@import "text_styles.scss";
@import "nav.scss";
@import "containers.scss";

a img {
  border: 0 solid;
}

:focus {
  outline: none;
}

ul,
ol {
  padding: 0 0 0 2em;
}

li {
  padding: 0.33em 0;
}

hr {
  border: 0;
  border-top: 0.2em solid #e6e6e6;
}

.clearDiv {
  clear: both;
}
