@import "constants.scss";

#navigation {
    ul {
      list-style: none;
      padding: 1px 0;
      margin: 0;
    }
  
    li {
      float: left;
      margin: 0 15px;
      padding: 0;
    }

    li:first-of-type {
      margin: 0 15px 0 0;
    }
  
    li a {
      font-family: $font-head-lite;
      color: #5b5b5b;
      font-size: 13px;
      line-height: 2.2;
      font-weight: 400;
      float: left;
    }
  
    li.selected a {
      border-bottom: 1px solid $splash-highlight;
    }
  
    li:hover a,
    li.active a,
    li.selected a {
      color: $splash-dark;
    }
  }
