@import "constants.scss";

$header-padding: 1.25em;

#navigation {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    li {
      float: left;
      margin: 0 $header-padding;
      padding: 0;
    }

    li:first-of-type {
      margin: 0 $header-padding 0 0;
    }
  
    li a {
      font-family: $font-head-lite;
      color: #5b5b5b;
      font-size: 13px;
      line-height: 2.2;
      font-weight: 400;
      float: left;
    }
  
    li.selected a {
      border-bottom: 0.1em solid $splash-highlight;
    }
  
    li:hover a,
    li.active a,
    li.selected a {
      color: $splash-dark;
    }
  }

#blogpage {
  p {
    word-wrap: break-word;
    margin-bottom: 1.5em;
    overflow: hidden;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  li {
    padding: 0;
  }

  .blog-excerpt {
    padding: 0 0 0 1.75em;
  }
}
