@import "constants.scss";

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  background-attachment: scroll;
  background-color: white;
  font-family: $font-bod;
  font-size: 13px;
  color: $body-color;
}

h1 {
  font-family: $font-head;
  font-size: 28px;
  color: $dark-header;
}

h2 {
  font-family: $font-head;
  font-size: 24px;
  color: $splash-dark;
}

h3 {
  font-family: $font-head;
  font-size: 22px;
  color: $splash-dark;
}

h4 {
  font-family: $font-head;
  font-size: 20px;
  color: #747474;
}

h5 {
  font-family: $font-head;
  font-size: 18px;
  color: #717171;
}

h6 {
  font-family: $font-head-lite;
  font-size: 16px;
  color: $dark-header;
}

a {
  color: $splash-dark;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: $splash-highlight;
}

p {
  line-height: 1.7;
  color: $body-color;
}

table {
  font-family: $font-head-lite;
  border-collapse: collapse;
  border-spacing: 0;
  background: #FCFCFC;
}

th, td {
  border-width: 1px;
  border-style: solid;
  border-color: #f0f0f0;
  padding: 10px,
}

th {
  background: #F8F8F8;
}

.headerSitename {
  font-family: $font-head;
  color: #000000;
  font-size: 32px;
  word-wrap: break-word;
}

.headerSiteCaption {
  font-family: $font-head;
  color: #747474;
  font-size: 13px;
  font-weight: 300;
}

.footerText {
  font-family: $font-head;
  color: $body-color;
  font-size: 13px;
}

.justifyBlock {
  text-align: justify;
}
