---
title: James Keats - BTV Flight (Burlington International Airport)
layout: default
picture1: "/assets/img/portfolio/btvflight/1-2.png"
picture2: "/assets/img/portfolio/btvflight/2.png"
picture3: "/assets/img/portfolio/btvflight/3.png"
picture4: "/assets/img/portfolio/btvflight/4.png"
picture5: "/assets/img/portfolio/btvflight/5.png"
picture6: "/assets/img/portfolio/btvflight/6.png"
picture7: "/assets/img/portfolio/btvflight/btv_flight_with_vinyl.jpg"
picture8: "/assets/img/portfolio/btvflight/cover.png"
selectedurl: Portfolio
---
{% assign project=site.data.portfolio.btvflight %}
<div class="mb-4">
    <h1>{{project.details.title}}</h1>
</div>
<div class="mb-4">
    <h2>{{project.details.byline}}</h2>
</div>
<div>
    <div class="flex flex-wrap mb-4">
        {% assign bp='lg' %}
        <div class="w-full {{bp}}:w-1/2 order-first {{bp}}:order-last">
            <img class="p-4" src="{{page.picture1}}">
        </div>
        <div class="w-full {{bp}}:w-1/2">
            <div class="mb-4">
                <p><b>Team (May 2016 - Aug 2016)</b></p>
                {% for member in project.details.team %}
                <p>{{ member }}</p>
                {% endfor %}
            </div>
            <div class="mb-4">
                <p>{{ project.details.introp }}</p>
            </div>
        </div>
    </div>

    <div class="flex flex-wrap mb-4">
        <div class="w-full sm:w-1/2 lg:w-1/3">
            <div class="mb-4">
                <h4>{{ project.details.ai.title }}</h4>
            </div>
            {% for p in project.details.ai.paras %}
            <div class="mb-4">
                <p>{{p}}</p>
            </div>
            {% endfor %}
            <div class="mb-4">
                <ul class="list-disc">
                    {% for i in project.details.ai.examples %}
                    <li class="ml-8 mb-2">{{ i }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="w-full sm:w-1/2 lg:w-1/3">
            <img class="p-4" src={{page.picture5}}></img>
        </div>
        <div class="hidden lg:block lg:w-1/3">
            <img class="p-4" src={{page.picture4}}></img>
        </div>
    </div>

    <div >
        <h4>{{ project.details.gesture.title }}</h4>
    </div>
    <div class="flex flex-wrap mb-4 items-center">
        {% assign bp='lg' %}
        <div class="w-full {{bp}}:w-1/2">
            <img class="" src={{page.picture3}}></img>
        </div>
        <div class="w-full {{bp}}:w-1/2">
            {% for p in project.details.gesture.paras %}
            <div class="py-4 {{bp}}:px-4">
                <p>{{p}}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        <h4>{{ project.details.future.title }}</h4>
    </div>
    <div class="flex">
        <div class="hidden lg:block flex-shrink">
            <img src={{page.picture6}}></img>
        </div>
        <div class="w-full lg:w-2/3">
            {% for p in project.details.future.paras %}
            <div class="py-4 {{bp}}:px-4">
                <p>{{p}}</p>
            </div>
            {% endfor %}
            <div class="py-4 {{bp}}:px-4">
                <img src={{page.picture7}}></img>
            </div>
        </div>
    </div>
</div>
