---
title: James Keats - BTV Flight (Burlington International Airport)
layout: default
picture1: "/assets/img/portfolio/btvflight/1-2.png"
picture2: "/assets/img/portfolio/btvflight/2.png"
picture3: "/assets/img/portfolio/btvflight/3.png"
picture4: "/assets/img/portfolio/btvflight/4.png"
picture5: "/assets/img/portfolio/btvflight/5.png"
picture6: "/assets/img/portfolio/btvflight/6.png"
picture7: "/assets/img/portfolio/btvflight/btv_flight_with_vinyl.jpg"
picture8: "/assets/img/portfolio/btvflight/cover.png"
---
<div class="elementTextWrapper">
    <h1>{{site.data.portfolio.details.btvflight.title}}</h1>
</div>
<div class="elementTextWrapper">
    <h2>{{site.data.portfolio.details.btvflight.byline}}</h2>
</div>
<div class="contentBlock">
    <div class="columns">
        {% include image-right-mobile-top.html image=page.picture1 part="top" %}
        <div class="col-6 col-s-12">
            <div class="elementTextWrapper">
                <p><b>Team (May 2016 - Aug 2016)</b></p>
                {% for member in site.data.portfolio.details.btvflight.team %}
                <p>{{ member }}</p>
                {% endfor %}
            </div>
            <div class="elementTextWrapper">
                <p>{{ site.data.portfolio.details.btvflight.introp }}</p>
            </div>
        </div>
        {% include image-right-mobile-top.html image=page.picture1 part="bottom" %}
    </div>

    <div class="columns" style="padding-bottom: 1.25em">
        <div class="col-4 col-s-6">
            <div class="elementTextWrapper">
                <h4>{{ site.data.portfolio.details.btvflight.ai.title }}</h4>
            </div>
            {% for p in site.data.portfolio.details.btvflight.ai.paras %}
            <div class="elementTextWrapper">
                <p>{{p}}</p>
            </div>
            {% endfor %}
            <div class="elementTextWrapper">
                <ul>
                    {% for i in site.data.portfolio.details.btvflight.ai.examples %}
                    <li>{{ i }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-4 col-s-6">
            <img style="width:100%; height:100%" src={{page.picture5}}></img>
        </div>
        <div class="col-4 col-s-0 mobile-hide">
            <img style="width:100%; height:100%" src={{page.picture4}}></img>
        </div>
    </div>

    <div class="elementTextWrapper">
        <h4>{{ site.data.portfolio.details.btvflight.gesture.title }}</h4>
    </div>
    <div class="columns">
        <div class="col-6 col-s-12">
            <img style="width:100%; height:100%" src={{page.picture3}}></img>
        </div>
        <div class="col-6 col-s-12">
            {% for p in site.data.portfolio.details.btvflight.gesture.paras %}
            <div class="elementTextWrapper">
                <p>{{p}}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="columns">
        <div class="col-5 col-s-0 mobile-hide">
            <h4>&nbsp;</h4>
            <img style="width:100%; height:100%" src={{page.picture6}}></img>
        </div>
        <div class="col-7 col-s-12">
            <div class="elementTextWrapper">
                <h4>{{ site.data.portfolio.details.btvflight.future.title }}</h4>
            </div>
            {% for p in site.data.portfolio.details.btvflight.future.paras %}
            <div class="elementTextWrapper">
                <p>{{p}}</p>
            </div>
            {% endfor %}
            <img style="width:100%; height:100%" src={{page.picture7}}></img>
        </div>
    </div>
</div>
