---
title: James Keats - re[Mod] (Senior Capstone Champlain College)
layout: default
picture1: "/assets/img/portfolio/remod/s2_cover1.jpg"
picture2: "/assets/img/portfolio/remod/s2_cover2.jpg"
picture3: "/assets/img/portfolio/remod/s2_cover3.jpg"
---
<div class="elementTextWrapper">
    <h1>{{site.data.portfolio.remod.details.title}}</h1>
</div>
<div class="elementTextWrapper">
    <h2>{{site.data.portfolio.remod.details.byline}}</h2>
    <h4>re[Mod] is <a href="https://thefiringsquad.itch.io/remod" title="re[Mod] by The Firing Squad">available on
            itch.io</a>!</h4>
</div>
<div class="contentBlock">
    <div class="columns">
        {% include image-right-mobile-top.html image=page.picture1 part="top" %}
        <div class="col-6 col-s-12">
            <div class="columns">
                <div class="col-12 col-s-6 elementTextWrapper">
                    <p><b>Core Team (Aug 2017 - May 2018)</b></p>
                    {% for member in site.data.portfolio.remod.details.team %}
                    <p>{{ member }}</p>
                    {% endfor %}
                </div>
                <div class="col-12 col-s-6 elementTextWrapper">
                    <p><b>Recruits (Jan - May 2018)</b></p>
                    {% for member in site.data.portfolio.remod.details.auxteam %}
                    <p>{{ member }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% include image-right-mobile-top.html image=page.picture1 part="bottom" %}
    </div>
    <div class="columns" style="padding-bottom: 1.25em">
        {% include image-right-mobile-top.html image=page.picture2 part="top" %}
        <div class="col-6 col-s-12">
            {% for para in site.data.portfolio.remod.details.introp %}
            <div class="elementTextWrapper">
                <p>{{ para }}</p>
            </div>
            {% endfor %}
        </div>
        {% include image-right-mobile-top.html image=page.picture2 part="bottom" %}
    </div>
    <div style="padding-bottom: 1.25em">
        <div style="text-align: center">
            <iframe class="video-container" allowfullscreen="true" width="100%" frameborder="0"
                src="https://player.vimeo.com/video/269262863?color=ff9933&amp;byline=0&amp;portrait=0">
            </iframe>
        </div>
    </div>
    <div class="columns" style="padding-bottom: 1.25em">
        <div class="col-12 col-s-12 elementTextWrapper">
            <p>{{ site.data.portfolio.remod.details.intrapara }}</p>
        </div>
        <div class="col-6 col-s-6 elementTextWrapper">
            <div class="col-12 col-s-0 mobile-hide">
                <img style="width:100%;" src={{ page.picture3 }}></img>
            </div>
            <ul>
                <li>
                    <p>{{ site.data.portfolio.remod.details.responsibilities[0].title }}</p>
                    <ul>
                        {% for r in site.data.portfolio.remod.details.responsibilities[0].items %}
                        <li><span>{{ r }}</span></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <div class="col-0 col-s-12">
                <img style="width:100%;" src={{ page.picture3 }}></img>
            </div>
        </div>
        <div class="col-6 col-s-6 elementTextWrapper">
            <ul>
                <li>
                    <p>{{ site.data.portfolio.remod.details.responsibilities[1].title }}</p>
                    <ul>
                        {% for r in site.data.portfolio.remod.details.responsibilities[1].items %}
                        <li><span>{{ r }}</span></li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <p>{{ site.data.portfolio.remod.details.responsibilities[2].title }}</p>
                    <ul>
                        {% for r in site.data.portfolio.remod.details.responsibilities[2].items %}
                        <li><span>{{ r }}</span></li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <p>{{ site.data.portfolio.remod.details.responsibilities[3].title }}</p>
                    <ul>
                        {% for r in site.data.portfolio.remod.details.responsibilities[3].items %}
                        <li><span>{{ r }}</span></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="elementTextWrapper">
        <h4>Original Pre-Production Trailer (November 2017)</h4>
    </div>
    <div style="padding-bottom: 1.25em">
        <div style="text-align: center">
            <iframe class="video-container"
                src="https://player.vimeo.com/video/243548187?color=ff9933&amp;byline=0&amp;portrait=0"
                allowfullscreen="true" width="100%" frameborder="0"></iframe>
        </div>
    </div>
</div>
