---
title: James Keats - re[Mod] (Senior Capstone Champlain College)
layout: default
picture1: "/assets/img/portfolio/remod/s2_cover1.jpg"
picture2: "/assets/img/portfolio/remod/s2_cover2.jpg"
picture3: "/assets/img/portfolio/remod/s2_cover3.jpg"
selectedurl: Portfolio
---
{% assign project=site.data.portfolio.remod %}
<div class="mb-4">
    <h1>{{project.details.title}}</h1>
</div>
<div class="mb-4">
    <h2>{{project.details.byline}}</h2>
    <h4>re[Mod] is <a href="https://thefiringsquad.itch.io/remod" title="re[Mod] by The Firing Squad">available on itch.io</a>!</h4>
</div>
<div>
    <div class="flex flex-wrap">
        <div class="w-full lg:w-1/2 mb-4 order-first lg:order-last">
            <img class="mx-auto lg:max-h-xl" src="{{page.picture1}}">
        </div>
        <div class="w-full lg:w-1/2">
            <div class="flex flex-wrap">
                <div class="mb-4 mr-4 w-full md:w-1/2 lg:w-full">
                    <p><b>Core Team (Aug 2017 - May 2018)</b></p>
                    {% for member in project.details.team %}
                    <p>{{ member }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4 mr-4">
                    <p><b>Recruits (Jan - May 2018)</b></p>
                    {% for member in project.details.auxteam %}
                    <p>{{ member }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap">
        <div class="w-full lg:w-1/2 mb-4 order-first lg:order-last">
            <img class="mx-auto lg:max-h-xl" src="{{page.picture2}}">
        </div>
        <div class="w-full lg:w-1/2">
            {% for para in project.details.introp %}
            <div class="mb-4 mr-4">
                <p>{{ para }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="mb-4 text-center">
        {% include util/vimeoplayer.html url=269262863 %}
    </div>
    <div class="w-full mb-4">
        <p>{{ project.details.intrapara }}</p>
    </div>
    <div class="flex flex-wrap mb-4 ">
        <div class="w-full lg:w-1/2">
            <div class="flex flex-wrap">
                <img class="w-full mb-4 order-last lg:order-first" src={{ page.picture3 }}></img>
                {% assign h = project.details.responsibilities[0].title %}
                {% assign l = project.details.responsibilities[0].items %}
                {% include util/nestlist.html head=h list=l %}
            </div>
        </div>
        <div class="w-full lg:w-1/2 mb-4">
            {% for r in project.details.responsibilities %}
            {% if forloop.index0 == 0 %} {% continue %} {% endif %} <!-- 0 is done manually above -->

            {% assign h = r.title %}
            {% assign l = r.items %}
            {% include util/nestlist.html head=h list=l %}

            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        <h4>Original Pre-Production Trailer (November 2017)</h4>
    </div>
    <div class="mb-4">
        <div class="mx-auto">
            {% include util/vimeoplayer.html url=243548187 %}
        </div>
    </div>
</div>
