<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="/assets/css/blogs.css">
        <title>James Keats - Game Programmer</title>
    </head>

    <body>
        {% include navigation.html %}

        <div class="mainContentWidth">
            <div class="mainContentArea floatLeft" style="width:100%">
                {{ content }}
            </div>
            <div class="clearDiv"></div>
        </div>

        {% include footer.html %}
    </body>
</html>
