<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>James Keats - Game Programmer</title>
        <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Roboto+Condensed:300,400|Roboto:400" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/blogs.css">
    </head>

    <body>
        {% include navigation.html %}

        <div class="mainContentWidth">
            <div class="mainContentArea floatLeft" style="width:100%">
                <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
                <p>By: James Keats | {{ page.date | date_to_long_string }}</p>
                <div>
                    {{ content }}
                </div>
                <a href="/blog.html">Back to blog</a>
            </div>
            <div class="clearDiv"></div>
        </div>

        {% include footer.html %}
    </body>
</html>
