<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
        <title>James Keats - Game Programmer</title>
    </head>

    <body>
        {% include navigation.html %}

        <div class="mainContentWidth">
            <div class="mainContentArea floatLeft" style="width:100%">
                <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
                <p>By: James Keats | {{ page.date | date_to_long_string }}</p>
                <div>
                    {{ content }}
                </div>
                <a href="/blog.html">Back to blog</a>
            </div>
            <div class="clearDiv"></div>
        </div>

        {% include footer.html %}
    </body>
</html>
