<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>

    <body>
        {% include navigation.html %}
        
        <div class="mainContentWidth">
            <div class="mainContentArea floatLeft" style="width:100%">
                {{ content }}
            </div>
            <div class="clearDiv"></div>
        </div>

        {% include footer.html %}
    </body>
</html>
