<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
        <title>{{ page.title }}</title>
    </head>
    <script src="https://kit.fontawesome.com/2ffb0e9231.js" crossorigin="anonymous"></script>

    <body>
        {% include navigation.html %}
        
        <div class="container mx-auto px-4">
            <div class="my-4">
                <div class="my-4 clear-both ">
                    {% assign colbp='lg' %}
                    {% include util/aboutme-sidebar.html colbp=colbp %}
                    <div class="w-full {{colbp}}:w-9/12 float-right pl-0 {{colbp}}:pl-4">
                        {{ content }}
                    </div>
                    <div class="clear-both"></div>
                </div>
                <div class="clear-both"></div>
            </div>
        </div>

        {% include footer.html %}
    </body>

    <script type="text/javascript">
        // I am lazy and I don't want to remember to update my website
        var tgtSpan = document.getElementById("timesince2016");
        tgtSpan.innerHTML = (new Date()).getFullYear() - 2016;
    </script>
</html>
